/* note: way of addressing fonts&images using "file:///" scheme will not work for Android versions
before 2.2, but neither will the game, so no worries ;) */
@font-face {
	font-family: normal_font;
	src: url("file:///android_asset/Chalet-LondonNineteenEighty.ttf");
}

@font-face {
	font-family: header_font;
	src: url("file:///android_asset/Chalet-8.otf");
}

/* main style */
body {
	background: #e5e5e5 url("file:///android_res/drawable/background_tile.png") repeat left top;
	font-size:14px;
	font-style: normal;
	font-family:normal_font, Helvetica, Arial, sans-serif;
	color:black;
}

/* css for box */
.box {
	margin: 8px 0px 8px 0px;
	padding: 8px;
	background: white;
	border-width: 1px;
	border-color: #4F4E4E;
	border-radius: 8px;
}

/* css for the headers */
h1 {
	color: black;
	font-family: header-font, Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size:14px;
}

b {
	font-family: header-font, Helvetica, Arial, sans-serif;
	font-weight: bold;
}

/* style for the links */
a:link {
	color: #0D1797;
}

a:visited {
	color: #4F4E4E;
}